@import '../../../styles/variables.scss';
.card {
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: $radius-llg;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: $spacing-2xl;
}

/* Style the card title if needed */
.cardtitle {
  font-size: $spacing-4xl; /* Larger title font size */
  color: $card-title; /* Darker text color */
}
.cardvalue {
  font-size: $spacing-4xl; /* Larger title font size */
  color: $card-title;
  font-weight: $font-weight-bold; /* Darker text color */
}
.cardname {
  font-size: $spacing-3xl; /* Larger title font size */
  font-weight: $font-weight-medium;
  color: $card-title;
}
.cardtitlenew {
  padding-top: 2dvh;
  font-size: $spacing-4xl; /* Larger title font size */
  color: $card-title;
  font-weight: $font-weight-bold;
}

/* Style the card text if needed */
.cardtext {
  color: $card-title;
  font-size: $spacing-xl; /* Larger title font size */
  /* Slightly darker text color */
  font-weight: $font-weight-bold;
}
@media screen and (min-width: 768px) and (max-width: 1720px) {
  .cardtitle {
    font-size: $spacing-4xl; /* Larger title font size */
    color: $card-title; /* Darker text color */
  }
  .cardvalue {
    font-size: $spacing-4xl; /* Larger title font size */
    color: $card-title;
    font-weight: $font-weight-bold; /* Darker text color */
  }
  .cardname {
    font-size: $spacing-3xl; /* Larger title font size */
    font-weight: $font-weight-medium;
    color: $card-title;
  }
  .cardtitlenew {
    padding-top: 2dvh;
    font-size: $spacing-4xl; /* Larger title font size */
    color: $card-title;
    font-weight: $font-weight-bold;
  }

  /* Style the card text if needed */
  .cardtext {
    color: $card-title;
    font-size: $spacing-xl; /* Larger title font size */
    /* Slightly darker text color */
    font-weight: $font-weight-bold;
  }
}
@media screen and (min-width: 350px) and (max-width: 780px) {
  .cardtitle {
    font-size: $spacing-4xl; /* Larger title font size */
    color: $card-title; /* Darker text color */
  }
  .cardvalue {
    font-size: $spacing-4xl; /* Larger title font size */
    color: $card-title;
    font-weight: $font-weight-bold; /* Darker text color */
  }
  .cardname {
    font-size: $spacing-3xl; /* Larger title font size */
    font-weight: $font-weight-medium;
    color: $card-title;
  }
  .cardtitlenew {
    padding-top: 2dvh;
    font-size: $spacing-4xl; /* Larger title font size */
    color: $card-title;
    font-weight: $font-weight-bold;
  }

  .cardtext {
    color: $card-title;
    font-size: $spacing-xl; /* Larger title font size */
    font-weight: $font-weight-bold;
  }
}
